/*
#00369a azul fuerte
#0050c3 azul claro
#128e16 verde claro
#007109 verde fuerte
#d60137 rojo
#ee9d82 crema
#a9523e cafe
#4f4d5b gris
*/

* {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* No le van a sumar pixeles al tamaño, se va a ajustar el padding */
}

header {
    width: 1366px;
    height: 150px; /* Maximo de 200px, comun entre 50px a 70px */
    background-color: #00369a;
    margin: 0 auto;
    text-align: center;
}

header img {
    height: 95%;
    padding: 20px 0;
}

nav {
    width: 1366px;
    height: 50px; /* Entre 50 o 60 px (comun 50px) */
    background-color: #0050c3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;

    margin: 0 auto;
}

nav a {
    font-family: "IBM Plex Mono", monospace;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 20px;
    transition: .5s;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: #279DE5;
    transform: scale(1.2);
    box-shadow: 2px 2px 3px rgb(25, 25, 25);
}

main {
    width: 1366px;
    height: 2000px;
    /* background-color: rgb(172, 105, 68); */
    margin: 0 auto;

    background-image: url(../imgs/fondomarioparty9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}

.personaje {
    width: 1300px;
    height: 400px;
    /* background-color: rgb(236, 246, 236); */
    margin-left: 33px;
    margin-top: 80px;

    display: inline-block;
}

.foto {
    width: 400px;
    height: 400px;
    /* background-color: blue; */
    float: left;
    margin-left: 33px;
    text-align: center;
    border: 4px dotted #FFCC00;
}

.foto img {
    height: 100%; /* Es un comentario en CSS */

}

.info {
    width: 800px;
    height: 400px;
    background-color: #ffcc00a2;
    float: left;
    margin-left: 33px;
    padding: 30px;
    border-bottom: 4px dotted #128e16;
    text-align: center;
}

.info h3 {
    margin: 15px 0;
    font-size: 1.8rem;
    color: #007109;
    font-weight: 700;
}

.info p {
    color: #d60137;
    font-weight: 400;

}

.text-link {
    text-decoration: none;
    color: #4f4d5b;
    font-weight: 600;
}

.text-link:hover {
    text-decoration: underline;
    color: #a9523e;
}

.text-link-start {
    background-color: #d601369d;
    text-decoration: none;
    color: #0050c3;
    font-weight: 900;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.5s;
}

.text-link-start:hover {
    padding: 10px 20px;
}

footer {
    width: 1366px;
    height: 320px; /* 200px*/
    background-color: #a9523ed6;
    margin: 0 auto;
    padding: 20px;

}

footer img {
    height: 50px;
    margin-bottom: 5px;
}

footer a {
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #00369a;
    font-weight: 900;
    
    transition: 0.5s;
}

footer a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px #000000;
    font-size: 1.3rem;
    color: #0050c3;
}

footer p {
    color: #0050c3;
    margin-top: 20px;
}
